In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori

In [2]:
data = pd.read_csv('train.csv')
print(data.head())
print(data.shape)

      ID  age         job   marital  education default  balance housing loan  \
0  26110   56      admin.   married    unknown      no     1933      no   no
1  40576   31     unknown   married  secondary      no        3      no   no
2  15320   27    services   married  secondary      no      891     yes   no
3  43962   57  management  divorced   tertiary      no     3287      no   no
4  29842   31  technician   married  secondary      no      119     yes   no

     contact  day month  duration  campaign  pdays  previous poutcome  \
0  telephone   19   nov        44         2     -1         0  unknown
1   cellular   20   jul        91         2     -1         0  unknown
2   cellular   18   jul       240         1     -1         0  unknown
3   cellular   22   jun       867         1     84         3  success
4   cellular    4   feb       380         1     -1         0  unknown

  subscribed
0         no
1         no
2         no
3        yes
4         no
(31647, 18)

In [168]:
data.columns

Index(['ID', 'age', 'job', 'marital', 'education', 'default', 'balance',
       'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign',
       'pdays', 'previous', 'poutcome', 'subscribed'],
      dtype='object')

In [169]:
data.marital.unique()

array(['married', 'divorced', 'single'], dtype=object)

In [170]:
data['job'] = data['job'].str.strip()
data.dropna(axis = 0, subset =['ID'], inplace = True)
data['ID'] = data['ID'].astype('str')
data = data[~data['ID'].str.contains('C')]
data.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,subscribed
0,26110,56,admin.,married,unknown,no,1933,no,no,telephone,19,nov,44,2,-1,0,unknown,no
1,40576,31,unknown,married,secondary,no,3,no,no,cellular,20,jul,91,2,-1,0,unknown,no
2,15320,27,services,married,secondary,no,891,yes,no,cellular,18,jul,240,1,-1,0,unknown,no
3,43962,57,management,divorced,tertiary,no,3287,no,no,cellular,22,jun,867,1,84,3,success,yes
4,29842,31,technician,married,secondary,no,119,yes,no,cellular,4,feb,380,1,-1,0,unknown,no

In [171]:
c_df=data.copy()
d_df=c_df[['loan','job','housing']]
print(d_df)

      loan         job housing
0       no      admin.      no
1       no     unknown      no
2       no    services     yes
3       no  management      no
4       no  technician     yes
...    ...         ...     ...
31642   no  management     yes
31643  yes  management      no
31644   no  management      no
31645   no  technician     yes
31646   no  management     yes

[31647 rows x 3 columns]

In [172]:
transactions = []
for i in range(257, 266):
    transactions.append([str(d_df.values[i,j]) for j in range(0, 3)])
    print(transactions)

[['no', 'technician', 'no']]
[['no', 'technician', 'no'], ['no', 'blue-collar', 'yes']]
[['no', 'technician', 'no'], ['no', 'blue-collar', 'yes'], ['no', 'entrepreneur', 'yes']]
[['no', 'technician', 'no'], ['no', 'blue-collar', 'yes'], ['no', 'entrepreneur', 'yes'], ['yes', 'technician', 'no']]
[['no', 'technician', 'no'], ['no', 'blue-collar', 'yes'], ['no', 'entrepreneur', 'yes'], ['yes', 'technician', 'no'], ['no', 'management', 'no']]
[['no', 'technician', 'no'], ['no', 'blue-collar', 'yes'], ['no', 'entrepreneur', 'yes'], ['yes', 'technician', 'no'], ['no', 'management', 'no'], ['yes', 'management', 'no']]
[['no', 'technician', 'no'], ['no', 'blue-collar', 'yes'], ['no', 'entrepreneur', 'yes'], ['yes', 'technician', 'no'], ['no', 'management', 'no'], ['yes', 'management', 'no'], ['no', 'blue-collar', 'yes']]
[['no', 'technician', 'no'], ['no', 'blue-collar', 'yes'], ['no', 'entrepreneur', 'yes'], ['yes', 'technician', 'no'], ['no', 'management', 'no'], ['yes', 'management', 'no'], ['no', 'blue-collar', 'yes'], ['no', 'housemaid', 'no']]
[['no', 'technician', 'no'], ['no', 'blue-collar', 'yes'], ['no', 'entrepreneur', 'yes'], ['yes', 'technician', 'no'], ['no', 'management', 'no'], ['yes', 'management', 'no'], ['no', 'blue-collar', 'yes'], ['no', 'housemaid', 'no'], ['no', 'services', 'yes']]

In [173]:
rules = apriori(transactions,
                min_support = 0.7,
                min_confidence = 0.3333,
                min_lift = 0.4761,
                min_length =1)

MB = list(rules)
print(MB)

[RelationRecord(items=frozenset({'no'}), support=1.0, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'no'}), confidence=1.0, lift=1.0)])]

In [174]:
Result = [list(MB[i][0]) for i in range(0, len(MB))]
print(Result)

[['no']]